package components

templ Title(title string) {
	@TitleCss()
	<h1 class="title">{ title }</h1>
}

templ TitleCss() {
	<style>
        .title {
            color: var(--primary-color)
        }
    </style>
}